# ==========================================
# SkillHub – Variables d'environnement
# ==========================================

# Base de données MySQL
DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=skillhub
MYSQL_USER=skillhub_user
MYSQL_PASSWORD=change_me_password

# JWT Secret (générer avec: openssl rand -hex 32)
JWT_SECRET=change_me_jwt_secret

# MongoDB
MONGO_URI=mongodb://mongodb:27017/skillhub_logs
MONGO_DATABASE=skillhub_logs

# URLs internes des services (Docker network)
AUTH_SERVICE_URL=http://auth_api:8000
CATALOG_SERVICE_URL=http://catalog_api:8000
INSCRIPTION_SERVICE_URL=http://inscription_api:8000

# Environnement
APP_ENV=production
APP_DEBUG=false
NODE_ENV=production
