# Dépendances
node_modules/
vendor/

# Variables d'environnement
.env
.env.local
.env.*.local
*.env

# Fichiers de build
dist/
build/
target/
public/hot
public/storage

# Laravel
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
bootstrap/cache/

# Coverage / tests
coverage/
*.xml
!sonar-project.properties
!services/auth-java/pom.xml

# Éditeurs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log

# Dumps SQL locaux
*.sql
!docker/mysql/init/01-create-databases.sql

# PHP Composer
composer.phar

# Outils locaux installés pour le développement
.tools/

# MongoDB config local
*.env.mongodb
mongo.md
